@import '~primereact/resources/themes/saga-orange/theme.css';
@import '~primereact/resources/primereact.min.css';
@import '~primeicons/primeicons.css';
@import '~primeflex/primeflex.css';

@import './styles/constants.scss';

html,
body {
  height: 100%;
}

body {
  font-family: $font-family;
  background-color: $background-color;
  margin: 0;
}

button, input {
  outline: none;
}

.p-component {
  font-family: $font-family;
}