@import '../../styles/constants.scss';

.error-page {
  margin-top: 40px;
  color: $primary-color;
  width: 100%;
  text-align: center;
  font-weight: 700;

  h3 {
    font-size: $large-font-size;
    margin-bottom: 10px;
  }

  p {
    margin-top: 10px;
    font-size: 0.75 * $large-font-size;
  }

  .image {
    width: 400px;
    height: 270px;
  }
}
