$background-color: #f9f9fb;
$background-sub-color: #ffffff;
$primary-color: #fb9500;
$menu-font-color: #54419e;
$chart-color: #9588bc;

$large-font-size: 72px;

$font-family: 'Montserrat', 'Roboto', 'Arial', sans-serif;
